

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

@font-face {
   font-family: 'FontAwesome';
   src: url('../fonts/FontAwesome/FontAwesome.eot');
   src: url('../fonts/FontAwesome/FontAwesome.eot') format('embedded-opentype'),
        url('../fonts/FontAwesome/FontAwesome.woff') format('woff'),
        url('../fonts/FontAwesome/FontAwesome.ttf') format('truetype'),
        url('../fonts/FontAwesome/FontAwesome.svg') format('svg');
   font-weight: normal;
   font-style: normal;
}

*, *:after, *:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-instagram:before {
    content: "\f16d";
}

.fa-facebook-f:before,
.fa-facebook:before {
    content: "\f09a";
}

.fa-youtube:before {
    content: "\f167";
}

.fa-github:before {
    content: "\f09b";
}

object{
    display: none;
}

.hide{
    display: none;
}

body{
    background-color: transparent;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    font-size: 62.5%;
    color: #000;
    padding: 0;
    margin: 0;
}

.browserupgrade{
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 7.5px 0;
    margin: 0;
}

.browserupgrade a{
    color: #fff;
}

.container{
    width: calc(100% - 100px);
    margin: 0 auto;
    min-height: 150px;
}

.section{
    width: 100%;
    float: left;
    clear: both;
    overflow: hidden;
    padding: 150px 0 100px;
}

.section.home{
    padding: 150px 0;
    position: relative;
}

.section.home:before{
    content: "";
    left: 0;
    bottom: 0;
    width: 623px;
    height: 375px;
    display: block;
    position: absolute;
    background-image: url(../img/bg-vector-bottom-left.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
}

.section.home:after{
    content: "";
    right: 0;
    top: 0;
    width: 599px;
    height: 375px;
    display: block;
    position: absolute;
    background-image: url(../img/bg-vector-top-right.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
}

.BoxLogo{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 9;
}

.BoxLogo .Logo{
    display: table;
    float: none;
    margin: 0 auto;
}

.BoxLogo .Logo a{
    width: 147px;
    height: 170px;
    display: block;
    margin: 0 auto;
    float: left;
    text-indent: -9999px;
    color: transparent;
    background-image: url(../img/nodeConfBr-logo.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%
}

.BoxTitleSite{
    display: table;
    margin: 50px auto;
    position: relative;
    z-index: 9;
}

.BoxTitleSite .BoxTitleSite__Name{
    display: table;
    margin: 0 auto;
    color: #717171;
    font-size: 4em;
    font-weight: 900;
    line-height: 1em;
    font-family: 'Lato';
    letter-spacing: 2px;
    text-transform: uppercase;
}

.BoxTitleSite .BoxTitleSite__Name .styleBr{
    color: #75bd46;
    font-weight: 400;
}

.BoxTitleSite .BoxTitleSite__Name .styleYears{
    font-weight: 400;
}

.BoxTitleSite__Date{
    display: table;
    margin: 0 auto;
    color: #717171;
    font-size: 2.5em;
    font-weight: 900;
    line-height: 1em;
    font-family: 'Lato';
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    padding: 20px 0;
}

.BoxTitleSite__Date .StyleLight{
    font-weight: 400;
}

.BoxTitleSite__Date:after{
    content: "";
    width: 47.5%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: #717171;
    transform: translate(-50%, 0);
}

.ButtonEvent{
    clear: both;
    display: table;
    margin: 0 auto;
    position: relative;
    z-index: 9;
}

.ButtonEvent a{
    font-weight: 400;
    font-size: 1.35em;
    height: 50px;
    line-height: 46px;
    padding: 0 40px;
    display: block;
    float: left;
    margin: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
}

@media (min-width: 768px) {
  .ButtonEvent a{font-size: 1.5em;}
}

.ButtonEvent .btnColor{
    background-color: #446fb4;
    border: 2px solid #446fb4;
    color: #fff;
    transition: all 500ms ease;
}

.ButtonEvent .btnColor:hover{
    background-color: #fff;
    color: #446fb4;
}

.ButtonEvent .btnBorder{
    border: 2px solid #75bd46;
    color: #75bd46;
    transition: all 500ms ease;
}

.ButtonEvent .btnBorder:hover{
    color: #fff;
    background-color: #75bd46;
}

.section.evento{
    padding: 0 0 150px;
    background-color: #f6f6f6;
}

.BoxTitle{
    width: 100%;
    clear: both;
    overflow: hidden;
}

.BoxTitle .BoxTitle__Title{
    clear: both;
    display: table;
    margin: 0 auto;
    position: relative;
    line-height: 1em;
    font-weight: 900;
    padding: 0 0 32px;
    font-size: 3em;
    color: #446fb4;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.BoxTitle .BoxTitle__Title:after{
    content: "";
    bottom: 0;
    left: 50%;
    width: 75px;
    height: 2px;
    position: absolute;
    background-color: #75bd46;
    transform: translate(-50%, 0);
}

.BoxText{
    width: 100%;
    overflow: hidden;
    margin: 30px 0 0;
}

.BoxText p{
    width: 100%;
    font-weight: 400;
    color: #494947;
    display: block;
    font-size: 2em;
    line-height: 1.5em;
    text-align: center;
    margin: 0;
}

.BoxNav{
    width: 100%;
    height: 70px;
    clear: both;
    position: relative;
    background-color: #f6f6f6;
    margin: 0 0 80px;
}

.BoxNav .BoxNav__Align{
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 70px;
    position: absolute;
    background-color: #e5e5e5;
}

.BoxNav .BoxNav__Align.fixed{
    position: fixed;
}

.BoxNav .BoxNav__Menu{
    width: auto;
    margin: 0 auto;
    display: table;
}

.BoxNav .BoxNav__Menu--List{
    width: 100%;
    float: left;
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 15px 0;
}

.BoxNav .BoxNav__Menu--List li{
    float: left;
    display: block;
    position: relative;
}

.BoxNav .BoxNav__Menu--List li a{
    color: #6b6b6b;
    position: relative;
    height: 40px;
    line-height: 40px;
    display: block;
    padding: 0 20px;
    font-size: 1.35em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all 500ms ease;
}

.BoxNav .BoxNav__Menu--List li.current a{
    color: #446fb4;
}

.BoxNav .BoxNav__Menu--List li a:after{
    content: "";
    width: calc(100% - 40px);
    height: 2px;
    float: left;
    bottom: 0;
    left: 50%;
    opacity: 0;
    display: block;
    position: absolute;
    background-color: #446fb4;
    transform: translate(-50%, 15px);
    transition: all 250ms cubic-bezier(0.230, 0.475, 0.725, 0.490);
}

.BoxNav .BoxNav__Menu--List li.current a:after{
    opacity: 1;
    transform: translate(-50%, 2px);
}

.BoxNav .BoxNav__Menu--List li.active a{
    background-color: #446fb4;
    color: #fff;
}

.BoxNav .BoxNav__Menu--List li.active a:hover{
    background-color: #75bd46
}

.section.palestrantes{
    background-color: #446fb4;
}

.section.palestrantes .BoxTitle__Title{
    color: #fff;
}

.section.palestrantes .BoxText p{
    color: #fff;
}

.MuralSpeaker{
    width: 100%;
    overflow: hidden;
    margin: 75px 0 0;
}

.MuralSpeaker__Speaker{
    width: 22%;
    height: auto;
    float: left;
    overflow: hidden;
    position: relative;
    margin: 35px 4% 0 0;
}

.MuralSpeaker__Speaker:nth-child(-n+4){
    margin-top: 0;
}

.MuralSpeaker__Speaker:nth-child(4n){
    margin-right: 0;
}

.MuralSpeaker__Speaker .SpeakerPhot{
    width: 100%;
    float: left;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: none;
    clear: both;
    position: relative;
}

.MuralSpeaker__Speaker .SpeakerHover {
  overflow: hidden;
}

.MuralSpeaker__Speaker .SpeakerPhot__description{
    color: white;
}

.MuralSpeaker__Speaker .SpeakerPhot__description{
    text-align: justify;
    font-size: 2em;
}

@media screen and (min-width: 410px) {
  .MuralSpeaker__Speaker .SpeakerPhot__description{
    font-size: 1rem;
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    padding: 0 10px;
    line-height: 1.8em;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transform: scale(1.1);
    transition: opacity .25s ease, transform .25s ease;
    will-change: transform;
  }

  .MuralSpeaker__Speaker .SpeakerHover:hover .SpeakerPhot__description {
    opacity: 1;
    transform: scale(1);
  }
}

.MuralSpeaker__Speaker .SpeakerPhot .SpeakerPhot__image{
    width: 100%;
    // float: left;
    display: block;
}

.MuralSpeaker__Speaker .MuralSpeaker__Speaker-Name{
    margin: 0;
    height: 50px;
    width: 100%;
    float: left;
    display: block;
    overflow: hidden;
    position: relative;
}

.MuralSpeaker__Speaker .MuralSpeaker__Speaker-Name .AlignText{
    top: 50%;
    width: 100%;
    line-height: 1.4em;
    font-size: 1.65em;
    color: #fff;
    text-align: center;
    display: block;
    letter-spacing: .5px;
    position: absolute;
    transform: translate(0, -50%);
}

.MuralSpeaker__Speaker .MuralSpeaker__Speaker-Subject{
    width: 100%;
    float: left;
    color: #fff;
    display: block;
    overflow: hidden;
    font-size: 1.35em;
    text-align: center;
}

@media (min-width: 550px) {
  .MuralSpeaker__Speaker .Speaker-Name,
  .MuralSpeaker__Speaker .Speaker-Subject {
    display: none !important;
  }
}

@media (max-width: 550px) {
  .MuralSpeaker__Speaker .MuralSpeaker__Speaker-Name,
  .MuralSpeaker__Speaker .MuralSpeaker__Speaker-Subject {
    display: none !important;
  }
}

.MuralSpeaker__Speaker .Speaker-Name,
.MuralSpeaker__Speaker .Speaker-Subject {
  display: inline-block;
  color: white;
  font-size: 2em;
  margin: 20px 5px 0 0;
}

@media screen and (max-device-width: 768px) {
  .MuralSpeaker__Speaker {
    padding-bottom: 20px;
  }

  .MuralSpeaker__Speaker > .MuralSpeaker__Speaker-Name,
  .MuralSpeaker__Speaker > .MuralSpeaker__Speaker-Subject {
    display: none;
  }
}

.section.palestrantes .ButtonEvent{
    margin: 75px auto 0;
}

.section.palestrantes .ButtonEvent .btnColor{
    background-color: #fff;
    border: 2px solid #fff;
    color: #446fb4;
    font-weight: 700;
}

.section.palestrantes .ButtonEvent .btnColor:hover{
    background-color: #446fb4;
    color: #fff;
}

.section.tickets{
    background-color: #f6f6f6;
}

.section.tickets .ButtonEvent{
    margin-top: 75px;
}

.GalleryLocal{
    width: 100%;
    margin: 75px 0;
}

.GalleryLocal .GalleryLocal__Phot{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.GalleryLocal .GalleryLocal__Phot .cover{
    width: 100%;
}

.section.patrocinadores{
    background-color: #f6f6f6;
}

.ListPatrocinadores{
    width: calc(100% - 200px);
    display: block;
    overflow: hidden;
    margin: 50px auto;
}

.ListPatrocinadores .ListPatrocinadores__List{
    width: 100%;
    float: left;
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.ListPatrocinadores .ListPatrocinadores__List li{
    width: calc(33.3% - 7px);
    height: auto;
    float: left;
    overflow: hidden;
    margin: 10px 10px 0 0;
    background-color: #fff;
    border: 10px solid #fff;
    transition: all 500ms ease;
}

.ListPatrocinadores .ListPatrocinadores__List li:hover{
    border-color: #75bd46;
}

.ListPatrocinadores .ListPatrocinadores__List li:nth-child(-n+3){
    margin-top: 0;
}

.ListPatrocinadores .ListPatrocinadores__List li:nth-child(3n){
    margin-right: 0;
}

.ListPatrocinadores .ListPatrocinadores__List li .cover{
    max-width: 100%;
    float: none;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}

.section.patrocinadores .btnBorder{
    background-color: #75bd46;
    border: 2px solid #75bd46;
    color: #fff;
}

.section.patrocinadores .btnBorder:hover{
    box-shadow: 0 0 0 transparent;
    background-color: transparent;
    color: #75bd46;
}

.section.contato .ButtonEvent{
    margin: 50px  auto 0;
}

.section.contato .ButtonEvent a{
    color: #494947;
    font-weight: 700;
    border-color: #446fb4;
    text-transform: lowercase;
}

.section.contato .ButtonEvent a:hover{
    color: #fff;
    background-color: #446fb4;
}

.footer-site{
    background-color: #446fb4;
    clear: both;
}

.footer-site .container{
    min-height: initial;
    padding: 15px 0;
    overflow: hidden;
}

.footer-site .BoxSocial{
    float: left;
}

.footer-site .BoxSocial a:first-child .icon{
    margin-left: 0;
}

.footer-site .BoxSocial .icon{
    float: left;
    display: block;
    overflow: hidden;
    background-color: #345a96;
    width: 35px;
    height: 35px;
    position: relative;
    margin-left: 10px;
    transition: all 500ms ease;
}

.footer-site .BoxSocial .icon .fa{
     width: 100%;
     height: 100%;
     color: #fff;
     font-size: 2em;
     line-height: 35px;
     position: absolute;
     text-align: center;
     transition: all 500ms ease;
}

.footer-site .BoxSocial .icon:hover{
    background-color: #fff;
}

.footer-site .BoxSocial .icon:hover .fa{
    color: #345a96;
}

.footer-site .copyright {
    float: left;
    line-height: 35px;
    height: 35px;
    display: block;
    overflow: hidden;
    text-transform: uppercase;
    margin: 0;
    padding: 0 0 0 25px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 1.5em;
}

.footer-site .coc {
    float: left;
    line-height: 35px;
    height: 35px;
    display: block;
    overflow: hidden;
    text-transform: uppercase;
    margin: 0;
    padding: 0 0 0 25px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 1.5em;
}

.footer-site .coc a {
    text-decoration: none;
    color: #fff;
}

.LeftFooter{
    float: left;
}

.RightFooter{
    float: right;
}

.icon86{
    width: 31px;
    height: 35px;
    float: left;
    display: block;
    overflow: auto;
    text-indent: -9999;
    color: transparent;
    overflow: hidden;
    background-image: url(../img/icon86.png);
    background-repeat: no-repeat;
    background-size: 31px 19px;
    background-position: 50%;
}


@media (min-width: 1200px){

    .container{
        width: 100%;
        max-width: 1200px;
    }

}

@media (min-width: 992px) and (max-width: 1199px){

    .BoxNav{
        margin: 0 0 45px;
    }

    .section.home:before{
        width: 540px;
        height: 325px;
    }

    .section.home:after{
        width: 519px;
        height: 325px;
    }

    .BoxNav .BoxNav__Menu--List li a{
        padding: 0 15px;
    }

    .section{
        padding: 100px 0;
    }

    .section.home{
        padding: 125px 0;
    }

    .section.evento{
        padding: 0 0 100px;
    }

    .section.tickets .ButtonEvent {
        margin-top: 65px;
    }

    .ListPatrocinadores{
        width: calc(100% - 100px);
    }

}


@media (min-width: 768px) and (max-width: 991px){

    .section.home:before{
        width: 473px;
        height: 285px;
    }

    .section.home:after{
        width: 455px;
        height: 285px;
    }

    .BoxNav{
        height: 50px;
        margin: 0 0 50px;
    }

    .BoxNav .BoxNav__Align{
        height: 50px;
        background-color: #446fb4;
    }

    .section{
        padding: 100px 0;
    }

    .section.evento{
        padding: 0 0 100px;
    }

    .MuralSpeaker__Speaker{
        width: 30%;
        margin: 40px 5% 0 0;
    }

    .MuralSpeaker__Speaker:nth-child(-n+3){
        margin-top: 0;
    }

    .MuralSpeaker__Speaker:nth-child(4){
        margin-top: 40px;
    }

    .MuralSpeaker__Speaker:nth-child(4n){
        margin-right: 5%;
    }

    .MuralSpeaker__Speaker:nth-child(3n){
        margin-right: 0;
    }

    .ListPatrocinadores{
        width: 100%;
    }

    .BoxNav .BoxNav__Menu{
        margin: 0 auto;
        display: block;
        width: 100%;
        height: 0;
        overflow: hidden;
        background: #fff;
        transition: all 500ms ease;
    }

    .BoxNav .BoxNav__Menu.active{
        height: 320px;
    }

    .BoxNav .BoxNav__Menu--List{
        padding: 0;
    }

    .BoxNav .BoxNav__Menu--List li{
        width: 100%;
        float: left;
    }

    .BoxNav .BoxNav__Menu--List li a{
        text-align: right;
        padding: 0 15px;
    }

    .BoxNav .BoxNav__Menu--List li.current a:after{
        display: none;
    }

    .sb-toggle-right, .sb-toggle-left{
        display: block;
        margin: 0;
        position: relative;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        transform: none;
        z-index: 999;
        float: right;
        padding: 16px 15px;
        background-color: #446fb4;
        cursor: pointer;
    }

    .navicon-line{
        width: 24px;
        height: 4px;
        border-radius: 1px;
        margin-bottom: 3px;
        background-color: #fff;
        float: left;
        clear: both;
    }

    .navicon-line:last-child{
        margin-bottom: 0;
    }

    .navbar-right .navicon-line{
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        transition: all .5s ease;
    }

    .navbar-right.active .navicon-line:nth-child(1){
        -webkit-transform: translate(1px, 7px) rotate(-45deg);
        -moz-transform: translate(1px, 7px) rotate(-45deg);
        -ms-transform: translate(1px, 7px) rotate(-45deg);
        transform: translate(1px, 7px) rotate(-45deg);
    }

    .navbar-right.active .navicon-line:nth-child(2){
        opacity: 0;
    }

    .navbar-right.active .navicon-line:nth-child(3){
        -webkit-transform: translate(1px, -7px) rotate(45deg);
        -moz-transform: translate(1px, -7px) rotate(45deg);
        -ms-transform: translate(1px, -7px) rotate(45deg);
        transform: translate(1px, -7px) rotate(45deg);
    }


}

@media (max-width: 768px){

    .BoxLogo .Logo a{
        width: 130px;
        height: 150px;
    }

    .BoxTitleSite .BoxTitleSite__Name{
        // font-size: 2.85em;
        font-size: 2em;
    }

    .BoxTitleSite__Date{
        font-size: 1.5em;
    }

    .section.home:before{
        width: 374px;
        height: 225px;
    }

    .section.home:after{
        width: 359px;
        height: 225px;
    }

    .BoxTitle .BoxTitle__Title{
        font-size: 2.5em;
        padding: 0 0 22px;
    }

    .BoxText{
        margin: 20px 0 0;
    }

    .BoxText p{
        font-size: 1.65em;
        text-align: justify;
    }

    .BoxNav{
        height: 50px;
        margin: 0 0 50px;
    }

    .BoxNav .BoxNav__Align{
        height: 50px;
        background-color: #446fb4;
    }

    .section{
        padding: 100px 0;
    }

    .section.home{
        padding: 100px 0;
    }

    .section.evento{
        padding: 0 0 100px;
    }

    .MuralSpeaker__Speaker{
        width: 100%;
        margin: 35px 50px 0 0;
    }

    .MuralSpeaker__Speaker:nth-child(-n+3){
        margin-top: 35px;
    }

    .MuralSpeaker__Speaker:nth-child(4){
        margin-top: 40px;
    }

    .MuralSpeaker__Speaker:nth-child(4n){
        margin-right: 5%;
    }

    .MuralSpeaker__Speaker:nth-child(3n){
        margin-right: 50px;
    }

    .MuralSpeaker__Speaker:nth-child(2n){
        margin-right: 0;
    }

    .ListPatrocinadores{
        width: 100%;
    }

    .BoxNav .BoxNav__Menu{
        margin: 0 auto;
        display: block;
        width: 100%;
        height: 0;
        overflow: hidden;
        background: #fff;
        transition: all 500ms ease;
    }

    .BoxNav .BoxNav__Menu.active{
        height: 320px;
    }

    .BoxNav .BoxNav__Menu--List{
        padding: 0;
    }

    .BoxNav .BoxNav__Menu--List li{
        width: 100%;
        float: left;
    }

    .BoxNav .BoxNav__Menu--List li a{
        text-align: right;
        padding: 0 15px;
    }

    .BoxNav .BoxNav__Menu--List li.current a:after{
        display: none;
    }

    .sb-toggle-right, .sb-toggle-left{
        display: block;
        margin: 0;
        position: relative;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        transform: none;
        z-index: 999;
        float: right;
        padding: 16px 15px;
        background-color: #446fb4;
        cursor: pointer;
    }

    .navicon-line{
        width: 24px;
        height: 4px;
        border-radius: 1px;
        margin-bottom: 3px;
        background-color: #fff;
        float: left;
        clear: both;
    }

    .navicon-line:last-child{
        margin-bottom: 0;
    }

    .navbar-right .navicon-line{
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        transition: all .5s ease;
    }

    .navbar-right.active .navicon-line:nth-child(1){
        -webkit-transform: translate(1px, 7px) rotate(-45deg);
        -moz-transform: translate(1px, 7px) rotate(-45deg);
        -ms-transform: translate(1px, 7px) rotate(-45deg);
        transform: translate(1px, 7px) rotate(-45deg);
    }

    .navbar-right.active .navicon-line:nth-child(2){
        opacity: 0;
    }

    .navbar-right.active .navicon-line:nth-child(3){
        -webkit-transform: translate(1px, -7px) rotate(45deg);
        -moz-transform: translate(1px, -7px) rotate(45deg);
        -ms-transform: translate(1px, -7px) rotate(45deg);
        transform: translate(1px, -7px) rotate(45deg);
    }

    .ListPatrocinadores .ListPatrocinadores__List li{
        width: calc(50% - 20px);
        margin: 35px 40px 0 0;
    }

    .ListPatrocinadores .ListPatrocinadores__List li:nth-child(3n){
        margin: 35px 40px 0 0;
    }

    .ListPatrocinadores .ListPatrocinadores__List li:nth-child(2n){
        margin-right: 0;
    }

    .LeftFooter,
    .RightFooter{
        width: auto;
        float: none;
        display: table;
        clear: both;
        margin: 0 auto;
        padding: 10px 0;
    }
}


@media (max-width: 550px){

    .MuralSpeaker{
        margin: 50px 0 0;
    }

    .MuralSpeaker__Speaker:nth-child(-n+2){
        margin-top: 0;
    }

    .MuralSpeaker__Speaker .MuralSpeaker__Speaker-Name .AlignText{
        font-size: 1.5em;
    }

    .footer-site .BoxSocial{
        float: none;
        clear: both;
        margin: 0 auto;
        display: table;
    }

    .container{
        width: calc(100% - 50px);
    }

    .home .ButtonEvent a{
        display: table;
        margin: 0 auto;
        float: none;
    }

    .home .ButtonEvent a:last-child{
        margin-top: 35px;
    }

    .footer-site .copyright{
        float: left;
        line-height: 1em;
        height: auto;
        display: block;
        overflow: hidden;
        text-transform: uppercase;
        margin: 20px 0 0;
        padding: 0;
        color: #fff;
        letter-spacing: 1px;
        font-size: 1.5em;
    }

    .footer-site .coc{
        float: left;
        line-height: 1em;
        height: auto;
        display: block;
        overflow: hidden;
        text-transform: uppercase;
        margin: 20px 0 0;
        padding: 0;
        color: #fff;
        letter-spacing: 1px;
        font-size: 1.5em;
    }

    .ListPatrocinadores .ListPatrocinadores__List li {
        width: calc(50% - 10px);
        margin: 25px 20px 0 0;
    }

    .ListPatrocinadores .ListPatrocinadores__List li:nth-child(3n) {
        margin: 25px 20px 0 0;
    }

    .ListPatrocinadores .ListPatrocinadores__List li:nth-child(2n) {
        margin-right: 0;
    }

}
